* {
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    align-content: center;
}

body {
    font-family: 'Droid Sans',sans-serif;
    /* font-size: 16px; */
    color: #292929;
    font-weight: 400;
    background: #fff;
}

.container{
    align-content: center;
    padding-left: 300px;
    
}

.search{
    display: flex;
    justify-content: center;
    padding: 10px 506px 10px 0px ;
    align-items: center;

}

.group{
    padding-left: 10px;
}

.stock{
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 960px;
    border-radius: 35px;
    height: 35px;
}
th, td {
    border:0.5px solid black;
    padding: 10px 10px;
    background-color: red;
    padding-left: 15px;
    padding-right: 70px;
    color: #fff;
    
}

table{
    padding-right: 10px;
    padding-top: 10px;
}
button{
    color: rgb(224, 223, 223);
    background-color: rgb(175, 33, 33);
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 5px;
}
td{
    background-color: aliceblue ;
    color: #292929;
}
h2{
    font-size: 30px;
    padding-top: 3%;
    
}